
.header-wraper
{
    position: relative;
   
    height: 90vh;
    font-family: "Montserrat" !important;
    
    
}

.main-info
{
   
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    color: var(--priblue);
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: bold  !important;
    z-index: 2;
 background-color: #fff;
    
    
}
/********** typed-txt style*******/
.typed-txt
{
    font-size: 2rem;
    color: #2158b6;
}
/*******main offer btn******/
.btn-main-offer
{
    border: 1px solid #2158b6 ;
    text-transform: uppercase;
    border-radius: 5%;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: #000;
    margin: 2rem;
    z-index: 1;
    font-weight: bold;
}
.btn-main-offer:hover{
    text-decoration: none;
    background-color:#2158b6 ;
    color: #fff;
    transition: .2s ease-in-out;
}


.dev
{
    width: 50%;
}
.Title
{
    margin-top: 50px;
}

@media(max-width:768px)
{
    .tsparticles-canvas-el {
       display: none;
    }
}
@media(max-width:768px)
{
    .main-info h1 {
        font-size: 1.5rem !important;
    }
    .typed-txt
    {
        font-size: 1.7rem !important;
       
    }
}