
.Container_Projects
{
    position: relative;
    height: 90vh;
    
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: middle;
}
.Card_Projects
{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #209cdb;
    color: #FFF;
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    box-sizing: border-box
}
.ProjectTitle
{
    text-align: center;
    position: relative;
    
    
    font-weight: bolder;
}
video 
{
    width: 99%;
    height: 85%;
    border-radius:10px 10px 10px 10px;
    margin-top: 13px;
}
.ProjectImg
{
    width: 99%;
    height: 91%;
    border-radius:10px 10px 10px 10px;
    margin-top: 13px;
}
@media screen and (max-width : 1024px)
{
    .Container_Projects
    {
        position: relative;
        height: 90vh;
        display: flex;
        flex: 1;
        justify-content: center;
        width: 100%;
        
    }
    
    .ProjectTitle
    {
        font-size: medium;
    }
}
